# Copy this file to .env and fill in your information
# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/lintu_vs_lintu"
# Name of AviList CSV file generated after running Birdnet Taxonomy collector
AVILIST_FILE_NAME="AviList-v2025-11Jun-extended"
